<div class="">
  <%= render "partials/title", ver: "INFORMACIÓN"%>
</div>
<div class="container">
  <%= render "partials/HTP", ver: "info", x: @information,  d: edit_news_path(@information) %>
</div>
