<div class="col-md-4 botton-15">
  <div class="col-lg4">
    <%= image_tag("Prueba.jpg", class: "img-thumbnail rounded mx-auto d-block botton-15", width: "95%") %>
    <h3 style="text-align:center;" > <%= x.title %> </h3>
    <hr>
    <p style="text-align:center;  width:95%;">
      "Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna."
    </p>
    <p style="text-align:center;">
      <a href="#" class="btn btn-success botton-15">View details</a>
    </p>
  </div>
</div>
