<div class="container">

  <div class="" style="word-wrap: break-word;">
    <%= raw x.body %>
  </div>

  <%= link_to d, style: "margin-top: 10px;", class:"btn btn-outline-dark"  do %>
    <ion-icon name="create"></ion-icon>
  <% end %>
  <%= link_to x, method: :delete, :class => "btn btn-outline-danger", :style => "margin-top: 10px;" do %>
    <ion-icon name="trash"></ion-icon>
  <% end %>

</div>
