<div class="carousel-inner  botton-15", style="max-height: 200px;">
  <%= image_tag("Prueba.jpg", class: "title_img img-fluid") %>
  <div class="title_p">
    <div class="">
      <h1 class="display-4" style="font-weight: bold;"> Titulo de la seccion </h1>
      <p class="" style="text-align: center;"> Texto del la seccion </p>
    </div>
  </div>
</div
