<div class="carousel-inner  botton-15", style="max-height: 200px;">
  <%= image_tag("Prueba.jpg", class: "title_img img-fluid") %>
  <div class="title_p">
    <div class="">
      <%if ver == "info" or   ver == "profes"%>
        <h1 class="display-4" style="font-weight: bold;"> Sobre nosotros </h1>
        <p class="" style="text-align: center;"> Aquí podrás encontrar información <% if  ver == "profes" %> sobre nuestro docentes <%else%> endacerca de nuestra institución <%end%> </p>
      <%elsif ver == "contact" %>
        <h1 class="display-4" style="font-weight: bold;"> Contactanos </h1>
        <p class="" style="text-align: center;"> Texto del la seccion </p>

      <%elsif ver == "pei"%>
        <h1 class="display-4" style="font-weight: bold;"> pei </h1>
        <p class="" style="text-align: center;"> Aquí podrás encontrar información acerca de nuestra institución </p>
      <%else%>
      <%end %>
    </div>
  </div>
</div>
