<div class="container">

  <!-- Inicio de Titulares -->
    <div class="top-30" style="word-wrap: break-word;">
      <h1>Titulares</h1>
      <hr>

      <div class="row top-30 left-margin">
        <% x.each do |titulares|%>
          <% if titulares.category == 1 %>
          <div class="col-md-4 ">
            <h3 class="text-center"> <%= titulares.title%></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          </div>
          <%end %>
        <%end%>
      </div>
    </div>

  <!-- Fin de Titulares -->

</div>
