<% map = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d769.8411734322972!2d-73.22322749894828!3d6.635521829892662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e69cf7c0649c981%3A0x1cccf0352187398f!2sInstituto+T%C3%A9cnico+Aquileo+Parra!5e0!3m2!1ses!2sco!4v1511122757985";%>

<link href="https://unpkg.com/ionicons@4.1.0/dist/css/ionicons.min.css" rel="stylesheet">


<div class="modal_wrap">
    <div class="mensaje_modal">
      <h2>tenemos problemas</h2>
      <h3>revisa si te falta alguno de estos elementos:</h3>
      <p><ion-icon name="arrow-dropright"></ion-icon> nombre</p>
      <p><ion-icon name="arrow-dropright"></ion-icon>correo</p>
      <p><ion-icon name="arrow-dropright"></ion-icon>mensaje</p>
      <span id="btnClose">cerar</span>
    </div>
</div>

<div class="">
  <%= render "partials/title" %>
</div>


<div class="container">


  <div class="row">
    <div class="form_wrap">

      <div class="contact_info">

        <div class="info_title">

          <span class="icon_contact">
            <ion-icon name="contact"></ion-icon>
          </span>
          <h2>INFORMACIÓN <br> DE CONTACTO</h2>

        </div>

        <div class="info_items">
          <div class="">
            <span class="mail">
              <p><ion-icon name="mail" class="mail"></ion-icon>email</p>
            </span>
            <span class="cell">
              <p><ion-icon name="call"></ion-icon>7267121 ó 72671231</p>
            </span>
          </div>

          <div class="">
            <span class="facebook">
            <a href="https://www.facebook.com/InstitutoTecnicoBarichara/?ref=aymt_homepage_panel"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a>
            </span>
            <span class="twitter">
              <a href="https://twitter.com/?lang=es"> <ion-icon name="logo-twitter" class="twitter"></ion-icon></a>
            </span>
            <span class="youtube">
              <a href="https://www.youtube.com/channel/UCLP1ts1j6-_U-QLG3QKc5ow/featured"><ion-icon name="logo-youtube" class="youtube"></ion-icon></a>
            </span>
          </div>

        </div>


      </div>

      <form class="form_contact" action="index.html" method="post">

        <h2>envía un mensaje</h2>

        <div class="user_info">

          <label for="nombre">Nombre</label>
          <input type="text" id="nombre">

          <label for="nombre">Telefono</label>
          <input type="text" id="Telefono">

          <label for="nombre">Correo Electrónico</label>
          <input type="text" id="Correo_Electrónico">

          <label for="nombre">Mensaje</label>
          <textarea id="Mensaje"></textarea>

          <input type="button" value="enviar mensaje" id="btnSend">

        </div>

      </form>

    </div>


    <div class="row">
      <h1  style="width: 100%;text-align: center;"> <%= ion_icon "map", text: "Mapa" %> </h1>
      <br><hr style="width: 100%;"></br>
      <iframe class="maps" src= "<%= map %>"width="100%" height="500" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
  </div>

  </div>

  <script src="https://unpkg.com/ionicons@4.1.0/dist/ionicons.js"></script>

</div>
