<div class="">
  <%= render "partials/title" %>
</div>

<div class="container top-30">
  <div class="">
    <div class="">
      <h1 class="text-center">Rector</h1>
      <hr style="margin-bottom:20px;margin-top:20px;">
      <div class="m-15 d-flex justify-content-center">
        <%= render "partials/humanTalent" %>
      </div>
    </div>

    <div class="">
      <h1>Rector</h1>
      <hr style="margin-bottom:20px;margin-top:20px;">
      <div class="m-15">
        <%= render "partials/humanTalent" %>
      </div>
    </div>

    <div class="">
      <h1>Rector</h1>
      <hr style="margin-bottom:20px;margin-top:20px;">
      <div class="m-15">
        <%= render "partials/humanTalent" %>
      </div>
    </div>
  </div>
</div>
