<div class="">
  <%= render "partials/title2", y: new_video_path %>
</div>

<div class="container">
  <div class="top-30">
    <h1>Videos</h1>
    <hr>

    <div class="row top-30 left-margin">

      <%= render "partials/cards", x: @video %>

    </div>
  </div>
</div>
