<div class="">
  <%= render "partials/title2", y: new_news_path %>
</div>
<div class="">

<%= render "partials/titulares", x: @news %>

<div class="container">
  <div class="top-30">
    <h1>Noticias</h1>
    <hr>

    <div class="row top-30 left-margin">

      <%= render "partials/cards", x: @news, ver: "noticias", d: edit_news_path(@news) %>

    </div>
  </div>
</div>
