<div class="">
  <%= render "partials/title2", y: new_photo_path %>
</div>

<div class="container">
  <div class="top-30">
    <h1>Fotos</h1>
    <hr>

    <div class="row top-30 left-margin">

      <%= render "partials/cards",  x: @photo %>

    </div>
  </div>
</div>
